<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: header(글조회)">
</head>
<body>
<div th:replace="fragments/common :: menu('board')"></div>

<div class="container">
  <h3 class="text-center">글 상세보기</h3>
  <form th:object="${board}">
    <div>
      글번호: <span id="id"><i th:text="${board.id}"></i></span><br>
      작성자: <span><i th:text="${board.user.username}"></i></span>
    </div>
    <br>

    <div class="mb-3">
      <label th:for="title" class="form-label">제목</label>
      <input type="text" class="form-control" th:field="*{title}">
    </div>

    <div class="mb-3">
      <label th:for="content" class="form-label">내용</label>
      <textarea class="form-control" th:field="*{content}" rows="10"></textarea>
    </div>

  </form>
    <div class="text-right">
      <button type="button" class="btn btn-primary" th:onclick="history.back()">목록</button>
      <button type="button" class="btn btn-warning" id="btn-update">수정</button>
      <div th:if="${board.user.username == principal}">
      <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
      </div>
    </div>
</div>
<script th:src="@{/js/board.js}"></script>

</body>
</html>