table {
    margin: 0 auto;
    width: 800px;
    border-collapse: collapse;
}

table th {
    padding: 14px 21px;
    background: whitesmoke;    //#ececec
    font-size: 20px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #ddd;
}

table td {
    padding: 14px 21px;
    color: #666;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;

}

table tr:hover {
    background: #eee;
    cursor: pointer;
}

button {
    background: #ececec;
    height: 30px;
    margin-left: 330px;
    margin-bottom: 5px;
}
button:hover {
    cursor: pointer;
    background: #333;
    color: #fff;

}

#search {
    margin: 0 auto;
}